////////////////////////////////////////////////////////////////////////////////
// html features
////////////////////////////////////////////////////////////////////////////////

// import variables
@import 'assets/styles/constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
  scroll-behavior: smooth; /* enables smooth scrolling for all anchor links */
}

body {
  font-family: $font-primary,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem !important;
  margin: 0;
}

code {
  font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace !important;
  font-size: 1rem !important;
}

p, a, h1, h2, h3, h4, h5, label, button {
  font-family: $font-primary, sans-serif;
}

a {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body{
    font-size: 1rem !important;
  }
}